<app-navbar></app-navbar>
<div class="container">
  <div class="formsText" [formGroup]="form">
    <div class="form-floating">
      <label for="floatingInput">{{
        "login-component.username" | translate
      }}</label>
      <input
        type="text"
        class="form-control"
        id="floatingInput"
        formControlName="username"
      />
    </div>
    <label for="floatingPassword">{{
      "login-component.password" | translate
    }}</label>
    <div class="form-floating">
      <input
        type="password"
        class="form-control"
        id="floatingPassword"
        formControlName="password"
      />
    </div>
    <label for="floatingConfirmPassword">{{
      "login-component.confirm-password" | translate
    }}</label>
    <div class="form-floating">
      <input
        type="password"
        class="form-control"
        id="floatingConfirmPassword"
        formControlName="confirmPassword"
      />
    </div>
    <span
      >{{ "login-component.already-have-login" | translate }}
      <a routerLink="/pages/login">{{
        "login-component.login" | translate
      }}</a></span
    >
    <button class="btn registerBtn" (click)="register()">
      {{ "login-component.register-now" | translate }}
    </button>
  </div>
</div>
