div.homePage {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.time {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 8rem;
  font-family: "Audiowide", sans-serif;
}

div.homePage div.globe-image img {
  margin-top: 1rem;
  width: 100%;
  height: auto;
  mix-blend-mode: multiply;
}
