<app-navbar></app-navbar>
<div class="container">
  <h1>About The Project - Capital Cities Quiz Game</h1>
  <div>
    <p>
      The "Capital Cities Quiz Game" is a dynamic and educational web-based
      project designed to challenge users' knowledge of global capital cities.
      Developed using a sophisticated technology stack, the application
      seamlessly integrates Angular for the front-end, Express.js and Node.js
      for the back-end, and PostgreSQL as the relational database management
      system.
    </p>
    <p>
      The front-end, powered by Angular, delivers a visually appealing and
      responsive user interface, providing users with an immersive quiz
      experience. Users can seamlessly navigate through the quiz game, featuring
      randomly generated questions that test their knowledge of capital cities
      worldwide.
    </p>
    <p>
      On the server side, Express.js, in conjunction with Node.js, forms a
      robust foundation for handling server-side logic, routing, and API
      creation. This combination ensures efficient communication between the
      user interface and the PostgreSQL database, contributing to a smooth and
      responsive overall experience. The back-end functionality encompasses user
      registration, secure login, and advanced features such as personalized
      user profiles for tracking quiz history and high scores. The inclusion of
      Express.js facilitates the creation of an interactive leaderboard,
      fostering healthy competition among users. Underlying the entire system is
      PostgreSQL, a powerful and scalable relational database management system.
      PostgreSQL efficiently manages data storage, retrieval, and manipulation,
      supporting essential features like user accounts, quiz history tracking,
      and leaderboard functionality.
    </p>
  </div>
</div>
