<app-navbar></app-navbar>
<div class="container">
  <h1>{{ "home-page.heading.first" | translate }}</h1>
  <div class="articles">
    <h3>{{ "home-page.heading.second" | translate }}</h3>
    <p>
      {{ "home-page.content.first" | translate }}
    </p>
    <h3>{{ "home-page.heading.third" | translate }}</h3>
    <p>
      {{ "home-page.content.second" | translate }}
    </p>
  </div>
  <h1>{{ "about-component.about" | translate }}</h1>
  <div>
    <p>
      {{ "about-component.first" | translate }}
    </p>
    <p>
      {{ "about-component.second" | translate }}
    </p>
    <p>
      {{ "about-component.third" | translate }}
    </p>
  </div>
</div>
