<nav class="navbar navbar-default" role="navigation">
  <div class="navbar-header">
    <img
      alt="Avatar"
      routerLink="/home"
      src="../../../assets/images/Capital Cities.png"
      class="avatar-img navbar-brand"
      id="avatarImg"
    />
  </div>
  <ul class="nav navbar-nav navLink" *ngIf="navbarItems.length > 0">
    @for (link of navbarItems; track $index) {
    <li routerLink="{{ link.route }}">
      <a>{{ link.name }}</a>
    </li>
    }
  </ul>
  <ul class="nav navbar-nav navLink navbar-right navRight">
    @if(!isLoggedIn){
    <li>
      <a routerLink="/pages/login">Login</a>
    </li>
    } @if(isLoggedIn) {
    <li (click)="logout()">
      <a>Logout</a>
    </li>
    }
  </ul>
</nav>
