#avatarImg {
  width: 5rem;
  height: 5rem;
  padding: 0;
  margin: auto 1rem;
}
#avatarImg:hover {
  cursor: pointer;
}
.navbar {
  background-color: var(--linkColor);
}
.navLink {
  cursor: pointer;
}
.navRight {
  margin-right: 3rem;
}
.navbar {
  font-family: "Audiowide", sans-serif;
}
.language-options {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 0.5rem;
  align-items: center;
  margin: 1rem 1rem 1rem -3rem;
}
.language-options img:hover {
  cursor: pointer;
}
