@keyframes slideAndFadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#title {
  opacity: 0;
  font-size: 10rem; /* Adjust the size as needed */
  animation: slideAndFadeIn 1s ease-out forwards;
  color: var(--textColor);
  font-family: "Audiowide", sans-serif;
}

#subtitle {
  font-size: 3rem;
  animation: fadeIn 2s ease-in forwards;
  color: var(--textColor);
  display: block;
}

.mainPage {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 200px;
}
.copyright {
  position: absolute;
  bottom: 20px;
  color: var(--textColor);
}
