<app-navbar></app-navbar>
<div class="container">
  <div class="formsText" [formGroup]="form">
    <div class="form-floating">
      <label for="floatingInput">{{
        "login-component.username" | translate
      }}</label>
      <input
        type="text"
        class="form-control"
        id="floatingInput"
        placeholder="Username"
        formControlName="username"
      />
    </div>
    <label for="floatingPassword">{{
      "login-component.password" | translate
    }}</label>
    <div class="form-floating">
      <input
        type="password"
        class="form-control"
        id="floatingPassword"
        placeholder="Password"
        formControlName="password"
      />
    </div>
    <span
      >{{ "login-component.dont-have-login" | translate }}
      <a routerLink="/pages/register">{{
        "login-component.register" | translate
      }}</a></span
    >
    <button class="btn loginBtn" (click)="login()">
      {{ "login-component.login" | translate }}
    </button>
  </div>
</div>
