<app-navbar [navbarItems]="navbarLinks"></app-navbar>
<div class="container">
  <div class="formsText">
    <div class="form-floating">
      <label for="floatingInput">Username</label>
      <input
        type="text"
        class="form-control"
        id="floatingInput"
        placeholder="Username"
        [(ngModel)]="user.username"
      />
    </div>
    <label for="floatingPassword">Password</label>
    <div class="form-floating">
      <input
        type="password"
        class="form-control"
        id="floatingPassword"
        placeholder="Password"
        [(ngModel)]="user.password"
      />
    </div>
    <span
      >Don't have an account? <a routerLink="/pages/register">Register</a></span
    >
    <button class="btn loginBtn" (click)="login()">Login</button>
  </div>
</div>
