<app-navbar></app-navbar>
<app-game-options
  *ngIf="!gameOptionsPicked"
  (optionsSelected)="onOptionsSelected($event)"
></app-game-options>
<div *ngIf="gameOptionsPicked" class="container gameScreen">
  <ng-container *ngIf="gameSettings && !isGameFinished">
    <div *ngIf="currentCapital">
      <h3>{{ "current-score" | translate }} {{ score }}</h3>
      <h3>
        {{ "time-left" | translate }}
        <span [ngClass]="{ 'is-red': gameSettings.timer < 6 }">{{
          gameSettings.timer
        }}</span>
      </h3>
      <app-capital
        [capital]="currentCapital"
        (answeredCorrectly)="handleAnswer($event)"
      ></app-capital>
    </div>
  </ng-container>
  <ng-container *ngIf="gameSettings && isGameFinished">
    <app-game-results [score]="score"></app-game-results>
    <button (click)="onRestartGame()">{{ "play-again" | translate }}</button>
  </ng-container>
  <h1 *ngIf="errorMessage">
    {{ errorMessage }}
  </h1>
</div>
