<div class="container mt-5">
  <h3>Choose game settings:</h3>
  <div class="form-group">
    <label for="regionSelect">Region:</label>
    <!-- <select
      class="form-control"
      [(ngModel)]="gameSettings.region"
      id="regionSelect"
    > -->
    <!-- <option value="World">World</option>
    <option value="Europe">Europe</option>
    <option value="Asia">Asia</option>
    <option value="Africa">Africa</option>
    <option value="NorthAmericaSouthAmerica">North and South America</option>
    <option value="Oceania">Oceania</option>
    </select> -->
  </div>

  <div class="form-group">
    <label>Timer Options:</label>

    <div class="form-check">
      <!-- <input
        class="form-check-input"
        type="radio"
        name="timerRadio"
        id="timer60"
        value="60"
        [(ngModel)]="gameSettings.timer"
      /> -->
      <label class="form-check-label" for="timer60"> 60 seconds </label>
    </div>

    <div class="form-check">
      <!-- <input
        class="form-check-input"
        type="radio"
        name="timerRadio"
        id="timer90"
        value="90"
        [(ngModel)]="gameSettings.timer"
      /> -->
      <label class="form-check-label" for="timer90"> 90 seconds </label>
    </div>

    <div class="form-check">
      <!-- <input
        class="form-check-input"
        type="radio"
        name="timerRadio"
        id="timer180"
        value="180"
        [(ngModel)]="gameSettings.timer"
      /> -->
      <label class="form-check-label" for="timer180"> 180 seconds </label>
    </div>
  </div>

  <button (click)="onSubmit()" class="btn btn-primary">Start Game</button>
</div>
