<app-navbar [navbarItems]="navbarLinks"></app-navbar>
<div class="container">
  <ng-container *ngIf="!errorMessage">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>No</th>
          <th>Country</th>
          <th>Capital</th>
          <th>Region</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let c of capitals; let i = index">
          <td>{{ i + 1 }}</td>
          <td>{{ c.country }}</td>
          <td>{{ c.capital }}</td>
          <td>{{ c.region }}</td>
        </tr>
      </tbody>
    </table>
  </ng-container>
  <ng-container *ngIf="errorMessage">
    <h3>{{ errorMessage }}</h3>
  </ng-container>
</div>
