<app-navbar></app-navbar>
<div class="container" [formGroup]="form">
  <input
    type="text"
    formControlName="term"
    [placeholder]="'search-by-name' | translate"
  />
  <ng-container *ngIf="!errorMessage">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>{{ "num" | translate }}</th>
          <th>{{ "country" | translate }}</th>
          <th>{{ "capital" | translate }}</th>
          <th>{{ "region" | translate }}</th>
        </tr>
      </thead>
      <tbody *ngIf="capitals$()">
        <tr *ngFor="let c of capitals$(); let i = index">
          <td>{{ i + 1 }}</td>
          <td>{{ c.country }}</td>
          <td>{{ c.capital }}</td>
          <td>{{ c.region }}</td>
        </tr>
      </tbody>
    </table>
  </ng-container>
  <ng-container *ngIf="errorMessage">
    <h3>{{ errorMessage }}</h3>
  </ng-container>
</div>
