@keyframes fadeInWithDelay {
  0%,
  90% {
    opacity: 0;
    transform: translateY(5px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
#heroBtn {
  animation: fadeInWithDelay 4s ease-in forwards;
  background-color: rgba(254, 254, 254, 0.08);
  color: var(--textColor);
  margin-top: 6rem;
  font-family: "Audiowide";
  font-size: 3rem;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  transition: background-color 0.3s, scale 0.4s;
}

#heroBtn:hover {
  scale: 1.05;
}
