/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto:wght@400;700&display=swap");
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto", sans-serif;
  text-transform: capitalize;
}
p,
span,
div,
ul,
ol,
li,
section,
header,
footer,
a {
  font-family: "Montserrat",serif;
}
