/* You can add global styles to this file, and also import other style files */
:root {
  --bgColor: #c2d9ff;
  --textColor: #190482;
  --secondTextColor: #8e8ffa;
  --linkColor: #7752fe;
}
body {
  color: var(--textColor);
  text-align: center;
  background: url("../src/assets/images/lightBluishPattern.avif");
  background-size: cover;
  background-repeat: no-repeat;
}
span {
  color: var(--secondTextColor);
}
a {
  background-color: var(--linkColor);
}
a:hover {
  background-color: var(--secondTextColor);
  color: var(--textColor);
}
