<nav class="navbar navbar-default" role="navigation">
  <div class="navbar-header">
    <a class="navbar-brand" href="#">
      <img alt="Avatar" src="path/to/avatar-image.jpg" class="avatar-img" />
    </a>
  </div>
  <ul class="nav navbar-nav">
    <li class="active"><a href="#">Profile</a></li>
    <li><a href="#">HighScores</a></li>
    <li><a href="#">Feedback</a></li>
    <li><a routerLink="../auth/register">Logout</a></li>
  </ul>
</nav>
<div class="container">
  <!-- Content section -->
  <div class="userPage">
    <div class="text-center">
      <h2>Welcome, {{ username }}!</h2>
      <p>Explore the world of capital cities and improve your knowledge.</p>
      <a href="#" class="btn btn-primary btn-lg">Play Game</a>
    </div>
  </div>
</div>
