.userPage {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 70vh;
}
.smallerContainer{
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    align-items: center;
}
.userContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#userBtn {
  background-color: rgba(254, 254, 254, 0.08);
  color: var(--textColor);
  margin-top: 6rem;
  font-family: "Audiowide";
  font-size: 3rem;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  transition: background-color 0.3s, scale 0.4s;
}

#userBtn:hover {
  scale: 1.05;
}
